.container {
  flex: 10;
}

.content {
  margin-top: 3rem;
  height: 100vh;
}

.chat_room_status {
  text-align: center;
  font-size: 22px;
}

.modal_placement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
