.modal {
  border: 1px solid #bbb;
  border-radius: 5px;
  position: absolute;
  width: 30%;
  z-index: 300;
  box-shadow: -3px 3px 20px 0px rgba(97, 63, 63, 0.75);
  -webkit-box-shadow: -3px 3px 20px 0px rgba(97, 63, 63, 0.75);
  -moz-box-shadow: -3px 3px 20px 0px rgba(97, 63, 63, 0.75);
}

.openModal {
  display: flex;
}

.close_modal {
  display: none;
}

.content {
  padding: 10px;
}

.top_part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  margin-bottom: 2rem;
}

.icon {
  cursor: pointer;
}

.label {
  margin-bottom: 5px;
}

.field {
  margin-bottom: 1rem;
}

.input_field {
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 8px;
  width: 100%;
  border: 1px solid #53c28b;
  color: antiquewhite;
}

.input_field:focus {
  outline: none;
}

.err_outline {
  border: 1px solid rgb(240, 103, 103);
}

.err {
  color: rgb(240, 103, 103);
  font-style: italic;
  font-size: 12px;
}

.btn {
  padding: 10px;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
