.container {
  height: 1.5rem;
  width: 2.5rem;
  border: 1px solid #53c28b70;
  border-radius: 5px;
  padding: 2px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  font-size: 12px;
}

.ball {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #53c28b;
}
